@model ComprarViewModel

<div style="text-align: center;">
<div class="polaroid">
    <img src="~/img/produto-@(Model.ProdutoSelecionado.Id+1).jpg" style="width:100%; height: 100%">
    <div class="sub-img-container">
        <p>
            @Html.Label("prod-" + @Model.ProdutoSelecionado.Id, @Model.ProdutoSelecionado.Nome + " - R$ ")
            @Html.DisplayFor(model => model.ProdutoSelecionado.Preco)
        </p>
    </div>
</div>
<br />
<br />
<div class = "container-compra">
    <form asp-controller="Compra" asp-action="Comprar" method="post">
        <div class = "label-form">
            @Html.Label("label-nome-compl", "Nome completo: ")
        </div>
        <div class = "input-form">
            @Html.TextBoxFor(model => model.DadosComprador.Customer.Name )
        </div>
        
        @Html.Label("label-valor-compra", "Número de parcelas: ")
        @Html.DropDownListFor( model => model.DadosComprador.Payment.Installments, Model.ListaQtdParcelas, "Qtd. de parcelas")
        <br />
        @Html.Label("label-num-cartao", "Número cartão: ")
        @Html.TextBoxFor(model => model.DadosComprador.Payment.CreditCard.CardNumber)
        <br />
        @Html.Label("label-nom-cartao", "Nome do cartão: ")
        @Html.TextBoxFor(model => model.DadosComprador.Payment.CreditCard.Holder)
        <br />
        @Html.Label("label-dat-cartao", "Data validade do cartão: ")
        @Html.TextBoxFor(model => model.DadosComprador.Payment.CreditCard.ExpirationDate)
        <br />
        @Html.Label("label-cod-cartao", "Cod. segurança do cartão: ")
        @Html.TextBoxFor(model => model.DadosComprador.Payment.CreditCard.SecurityCode)
        <br />
        @Html.Label("label-band-cartao", "Bandeira do cartão: ")
        @Html.DropDownListFor( model => model.DadosComprador.Payment.CreditCard.Brand, Model.ListaBandeiras, "Selecione a bandeira")
        <br />
        <input value="Comprar" type="submit">
    </form>
</div>
</div>

