@model EnderecoViewModel

<div style="text-align: center;">
<div class="polaroid">
    <img src="~/img/produto-@(Model.DadosPedido.ProdutoSelecionado.Id+1).jpg" style="width:100%; height: 100%">
    <div class="sub-img-container">
        <p>
            @Html.Label("prod-" + @Model.DadosPedido.ProdutoSelecionado.Id, @Model.DadosPedido.ProdutoSelecionado.Nome + " - R$ ")
            @Html.DisplayFor(model => model.DadosPedido.ProdutoSelecionado.Preco)
        </p>
    </div>
</div>
<br />
<br />
<div style="text-align: center; width: 100%;">
<div class = "formulario">
    <form asp-controller="Endereco" asp-action="Endereco" method="post">
        @Html.Label("label-rua-compl", "Rua: *")
        @Html.TextBoxFor(model => model.DadosPedido.DadosComprador.Customer.Address.Street )
        <br />
        @Html.Label("label-num-rua", "Número: *")
        @Html.TextBoxFor(model => model.DadosPedido.DadosComprador.Customer.Address.Number )
        <br />
        @Html.Label("label-cep", "CEP: ")
        @Html.TextBoxFor(model => model.DadosPedido.DadosComprador.Customer.Address.ZipCode)
        <br />
        @Html.Label("label-cidade", "Cidade: ")
        @Html.TextBoxFor(model => model.DadosPedido.DadosComprador.Customer.Address.City)
        <br />
        @Html.Label("label-estado", "Estado: ")
        @Html.TextBoxFor(model => model.DadosPedido.DadosComprador.Customer.Address.State)
        <br />
        @Html.Label("label-pais", "Pais: ")
        @Html.DropDownListFor( model => model.DadosPedido.DadosComprador.Customer.Address.Country , Model.ListaNacoes)
        <br />
        <input value="Preencher Cartão" class="button" type="submit">
    </form>
</div>
</div>
<br />
<br />
</div>